#root {
    max-width: 1200px;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    border: 2px solid black;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 24px;
    margin-left: 10px;
  }

  #names {
    max-width: 1200px;
    margin: 0 auto;
    height: 20px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    margin-left: 10px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    border: 1px solid gray;
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }