#img1,#img2,#img3,#img4,#img5 {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    margin-left: 10px;
  }

  #nome1,#nome2,#nome3,#nome4,#nome5{
    margin: 0 auto;
    height: 100px;
    width: 300px;
    color: white;
    border:solid black 1px;
    background-color: rgba(235, 46, 46, 0.589);
    background-position: center;
    background-repeat: no-repeat;
    font-size: x-large;
    font-family: 'Zhi Mang Xing', cursive;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding-left: 24px;
    margin-left: 10px;
  }
  
  #container {
    background-image: url(assets/timothy-dykes-Lq1rOaigDoY-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    border: solid black 20px;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 26%;
  }
  
  .card { 
    background-color: transparent;
    border: solid transparent 1px;
    width: 100px;
    margin: 2rem;
    display: flex;
    align-items: flex-start;
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 0 0 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 0 0 calc(33% - 2rem);
      
    }
  }
